html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

* {
  box-sizing: border-box;
}

$black: #000000;
$dark-color: #3c3c3c;
$light-color: #c9c9c9;
$primary-color: #de4b4b;
$error-color: #eb5757;
$white: #ffffff;

// Card Component Style
.card-wrapper {
  height: 224.4px;
  perspective: 1000px;
  width: 365px;

  &:hover .card {
    transform: rotateY(180deg);
  }

  .card {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;

    .front,
    .back {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.349);
      height: 100%;
      position: absolute;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      width: 100%;
    }

    .front {
      background-image: url("../public/card-front-empty.svg");
      color: $white;
      text-shadow: 0px 1px 2px $black;

      .info {
        margin: 35px auto 0;
        text-align: left;
        width: calc(100% - 48px);
      }

      .flag {
        height: 23px;
        margin-bottom: 48px;
        width: 69px;

        img {
          // opacity: 0;
          width: 100%;
        }
      }

      .numbers {
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        letter-spacing: 1.4px;
        line-height: 27px;
        margin: 0;

        li {
          display: inline-block;
          font-weight: 300;
        }
      }

      .name,
      .expiration {
        display: inline-block;
        font-size: 16px;
        line-height: 23px;
        margin-top: 32px;
      }
      .name {
        text-align: left;
        width: 80%;
        letter-spacing: 0.5px;
      }
      .expiration {
        text-align: right;
        width: 20%;
      }
    }

    .back {
      background-image: url("../public/card-back.svg");
      transform: rotateY(180deg);

      .cvv {
        color: $dark-color;
        height: 25px;
        line-height: 1.8em;
        margin-left: 167px;
        margin-top: 107px;
        width: 61px;
      }
    }
  }
}

// Payment Component Style
.container {
  margin: 0 auto;
  max-width: 896px;
  width: 100%;
}

aside {
  background-color: $primary-color;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  height: 100vh;
  max-width: 288px;
  width: calc(50% - 76px);

  &::before {
    background: $primary-color;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: calc(50vw - 448px);
  }

  .back-link {
    background: url("/icon-chevron-white.svg") 0 1px no-repeat;
    color: $white;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -0.01px;
    margin: 52px 0 53px;
    padding-left: 26px;
  }

  h1 {
    background: url("/icon-card-title.svg") no-repeat;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    letter-spacing: -0.01px;
    line-height: 24px;
    margin: 0 0 30px;
    padding-left: 65px;
  }
}

.form {
  float: right;
  max-width: 440px;
  width: 50%;

  .tracker {
    color: #de4b4b;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    letter-spacing: -0.01px;
    margin-top: 50px;
    text-align: right;

    li {
      display: inline-block;
      & + li {
        margin-left: 21px;
      }
      &:not(:first-of-type) {
        background: url("/icon-chevron-right-red.svg") no-repeat;
        padding-left: 35px;
        background-position: 0 0px;
      }

      span {
        border-radius: 20px;
        color: $primary-color;
        display: inline-block;
        font-weight: bold;
        height: 22px;
        margin-right: 8px;
        text-align: center;
        vertical-align: middle;
        width: 22px;

        &.check {
          background-color: $primary-color;
          padding-top: 4px;
        }
        &.step {
          border: 1px solid $primary-color;
          padding-top: 1.5px;
        }
      }
    }
  }
}

form {
  margin-top: 40px;
  text-align: right;

  .col-2 {
    display: inline-block;
    width: calc(50% - 8px);

    & + .col-2 {
      margin-left: 16px;
    }
  }

  .info {
    label {
      background: url("/icon-info.svg") right 2px no-repeat;
      padding-right: 23px;
    }
  }

  .MuiFormControl-root {
    margin: 9px 0;
  }

  .MuiFormLabel-root {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: $light-color;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0;

    &.Mui-focused {
      color: $light-color;
    }
  }

  .MuiSelect-icon {
    background: url("/icon-chevron-down-red.svg") 5px 5px no-repeat;
    color: transparent;
  }

  .MuiSelect-root {
    text-align: left;
  }

  .MuiSelect-select:focus {
    background-color: transparent;
  }

  .MuiInputBase-root {
    color: $dark-color;
  }

  .MuiInput-underline:before {
    border-color: $light-color;
  }

  .MuiFormLabel-asterisk {
    display: none;
  }

  .MuiInput-underline.Mui-error:after {
    border-color: $error-color;
  }

  .MuiFormLabel-root.Mui-error {
    color: $light-color;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

button[type="submit"] {
  background-color: $primary-color;
  border-radius: 10px;
  border: none;
  color: $white;
  font-size: 17px;
  line-height: 22px;
  margin-top: 30px;
  padding: 14px 72px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

// Responsive
@media (max-width: 928px) {
  .container {
    max-width: 280px;
    width: 100%;
  }

  .card-wrapper {
    max-width: 280px;
    height: 172px;

    .card {
      .front {
        .info {
          width: calc(100% - 28px);
          margin-top: 25px;

          .flag {
            margin-bottom: 32px;
          }
          .numbers {
            font-size: 19px;
            line-height: 20px;
            letter-spacing: 0.5px;
          }

          .name,
          .expiration {
            font-size: 12px;
            line-height: 20px;
            margin-top: 24px;
            letter-spacing: 0;
          }
        }
      }
    }
  }

  aside {
    width: 100%;
    max-width: 100%;
    float: none;
    height: auto;
    background-color: transparent;

    &::before {
      height: 239px;
      z-index: -1;
      width: 100%;
    }

    .back-link {
      text-indent: -9999px;
      position: absolute;
      top: -18px;
      left: calc(50vw - 173px);
      width: 12px;
      height: 24px;
      background-size: contain;
    }

    h1 {
      font-size: 16px;
      line-height: 20px;
      margin: 86px 0 14px 30px;
      display: inline-block;
      height: 40px;
      background-size: 40px 40px;
      padding-left: 55px;
    }
  }

  .form {
    width: 100%;
    float: none;

    .tracker {
      position: absolute;
      width: 280px;
      top: 38px;
      color: $white;
      margin-top: 0;
      text-align: center;
    }
  }

  form {
    margin-top: 18px;

    .MuiFormControl-root {
      margin: 0;
    }
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    margin: 24px 0 40px;
  }
}
